* {
  margin: 0;
  padding: 0;
}
main {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2336005c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23390064' cx='50' cy='100' r='50'/%3E%3Cg fill='%233b006b' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e0073' cx='50' cy='200' r='50'/%3E%3Cg fill='%2340007a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430082' cx='50' cy='300' r='50'/%3E%3Cg fill='%2345008a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23460093' cx='50' cy='400' r='50'/%3E%3Cg fill='%2348009b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%234900a3' cx='50' cy='500' r='50'/%3E%3Cg fill='%234a00ac' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b00b5' cx='50' cy='600' r='50'/%3E%3Cg fill='%234c00be' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c00c7' cx='50' cy='700' r='50'/%3E%3Cg fill='%234b00d0' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b00d9' cx='50' cy='800' r='50'/%3E%3Cg fill='%234900e2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%234702ec' cx='50' cy='900' r='50'/%3E%3Cg fill='%234506f5' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410AFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.at {
  text-decoration: none;
}
.navClass {
  background-color: #4b00d9;
  background-image: linear-gradient(
    180deg,
    #4b00d9 0%,
    #48009b 50%,
    #36005c 100%
  );
}
.colorNav {
  color: aliceblue;
}
.colorNav:hover {
  color: silver;
  transition: 150ms;
}
.sombra {
  box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
}
.login {
  background-color: #4b00d9;
  background-image: linear-gradient(
    180deg,
    #4b00d9 0%,
    #48009b 50%,
    #36005c 100%
  );
}
.mrg {
  margin-top: 112.13px;
}
.sombra1:hover {
  box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.82);
  transition: 300ms;
}
.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
footer {
  background-color: #4b00d9;
  background-image: linear-gradient(
    180deg,
    #4b00d9 0%,
    #48009b 50%,
    #36005c 100%
  );
}
ul {
  list-style: none;
  padding: 0px;
}
.publicidad {
  margin-top: 70px;
}

.bgDrop:hover {
  background-color: #5b44c463;
}
.bude {
  object-fit: cover;
  height: 635px;
}
.botones{
  border: 1px solid rgb(140, 0, 255);
  background-color: rgba(240, 248, 255, 0);
}
.botones:hover{
  background-color: rgb(140, 0, 255);
}
@media (max-width: 991px) {
  .dbl {
    display: flex;
    flex-direction: column;
  }
  .margen {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .imgcent {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  footer {
    padding-bottom: 20px;
  }
  .borde {
    border-bottom: 2px solid aliceblue;
  }
  .publicidad {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 991px) {
  .bude {
    height: 50%;
  }
}
